# PostgreSQL Database
POSTGRES_DB=scdp_db
POSTGRES_USER=scdp_user
POSTGRES_PASSWORD=scdp_password

# MongoDB Database
MONGO_URI=mongodb://mongo-db:27017/scdp_menu

# Redis Cache
REDIS_HOST=redis-cache
REDIS_PORT=6379

# Auth Service
JWT_SECRET=your_super_secret_jwt_key_32_chars_min

# Ports Configuration
AUTH_PORT=8081
MENU_PORT=3001
ORDER_PORT=3002
PAYMENT_PORT=3003
NOTIFICATION_PORT=3004
GATEWAY_PORT=80
